/* CSS Document */

body
{
	margin:0;
	padding:0;
}
header,footer
{
	background-color:black;
	height: 40px;
	width: 100%;
	text-align: center;
}
header>div,footer>div
{
	height: 40px;
	width:80%;
	margin:0 auto;
	color:white;
	line-height: 40px;
}
header>div
{
	background-color:red;
	font-size:1.5em;
}

#main
{
 	height: 100%;
	background-color:#CCC;
	text-align:center;
}

#formbody
{
	display:inline-block;
	text-align:left;
	margin:80px 0;
}
#formbody .h1_2
{
	margin-top:50px;
}


footer>div
{
	font-size:1em;
}